body {
  background-color: powderblue;
  overflow: hidden;
}

ul {
  font-size: 5vmin;
  color: grey;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

a {
  color: powderblue;
  filter: drop-shadow(0.35vmin 0.6vmin 0.6vmin rgba(0, 30, 50, 0.15));
  transition-duration: 0.4s;
}

a:hover {
  filter: drop-shadow(0.7vmin 1vmin 1vmin rgba(0, 30, 50, 0.15));
  transform: scale(1.05);
}
a:active { 
  filter: drop-shadow(0.175vmin 0.3vmin 0.3vmin rgba(0, 30, 50, 0.15));
  transform: scale(0.95);
}

.container {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.square {
  background-color: #FFF;
  box-shadow: 0.35vmin 0.6vmin 3vmin 0.6vmin rgba(0, 30, 50, 0.15);
  color: #000;
  height: 70vmin;
  padding: 0px;
  width: 70vmin;
  font-family: 'Bungee Hairline', sans-serif;
  font-weight: 600;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.row {
  align-items: center; 
  display: flex;
  font-size: 4vmin;
  justify-content: space-around;
  transition-duration: 0.4s;
  width: 100%;
  height: 2em;
}

.title {
  font-size: 8vmin;
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100px;
}

.fullscreen {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  height: 100% !important;
  width: 100% !important;
  margin:0 !important;
}

.hidden {
  display: none !important;
}

.shrink {
  height: 0%;
  width: 0%;
  transition-duration: 0.8s;
  padding: 0;
  box-shadow: none;
}

.shrink * {
  display: none;
}

#canvas {
  z-index: 1;
}

#exit {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}