html {
  height: 100%;
  padding: 0px;
}

body {
  height: 100%;
  margin: 0px;

  font-family: 'Bungee hairline', sans-serif;
  font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: hidden;

  /*linear-gradient */
  background-color: #1D4350; 
  background-image: -webkit-linear-gradient(top, #1D4350, #A43931); 
  background-image: -moz-linear-gradient(top, #1D4350, #A43931); 
  background-image: -o-linear-gradient(top, #1D4350, #A43931); 
  background-image: linear-gradient(to bottom, #1D4350, #A43931); 
}

h1 {
  margin: 0;
}

a {
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
  z-index: 1;
}

a:hover {
  border: 1px solid #fff; 
  text-decoration: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%);
  max-width: 800px;
  margin: 0px auto;
  z-index: 2;
}

.box {
  height: 283px;
  width: 283px;
  transition-duration: 0.6s;
}

#graphic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  min-width: 300px;

   /* flex fill */
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  cursor: pointer;
  overflow: show;
  transition-duration: 0.6s;
  z-index: 1;
}

#outer {
  position: relative;
  cursor: pointer;
  height: 288px;
  width: 288px;
  border: 0px solid rgba(255,255,255, 0);
  /*margin: -144px -144px;*/
}

#graphic:hover #outer{
  height: 8px;
  width: 8px;
  background-color: rgba(255, 255, 255, 1); 
}

#graphic:hover #outer div{
  transform: rotate(180deg);
  height: 30px;
  width: 150px;
  top: -10px;
  bottom: -10px;
  border-top: 0px solid rgba(255,255,255, 0);
  border-bottom: 0px solid rgba(255,255,255, 0);

}

#top {
  position: absolute;
  top: 0px;
  right: 0px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 0px solid rgba(255,255,255, 0);
  border-left: 0px solid rgba(255,255,255, 0);
  z-index: -1;
}

#bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top: 0px solid rgba(255,255,255, 0);
  border-right: 0px solid rgba(255,255,255, 0);
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  z-index: -1;
}

#name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #fff;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor: pointer;
}

#exit {
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 3;
}

#background {
  max-width: none;
  z-index: 0;
}

.hidden{
  opacity: 0;
  transition-duration: 0.6s;
  z-index: -10 !important;
}

#git-link {
  position: absolute;
  top: 7%;
  left: 20%;
  transform: translate(-50%);
}

#in-link {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%);
}

#res-link {
  position: absolute;
  top: 7%;
  left: 80%;
  transform: translate(-50%);
}


#git-link:hover ~#graphic #outer {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  transition-timing-function: ease-in-out;
}

#git-link:hover ~#graphic #outer div {
  transform: rotate(-135deg);
  height: 310px;
  width: 310px;
  border-color: #FFF;
  border-radius: 50%;
  transition-timing-function: ease-in-out;
}

#in-link:hover ~#graphic #outer {
  background: rgba(255, 255, 255, 0.15);
  height: 125px;
  width: 125px;
  transition-timing-function: ease-in-out;
}

#in-link:hover ~#graphic #outer div {
  background: rgba(255, 255, 255, 0.15);
  height: 125px;
  width: 125px;
  border-color: rgba(255,255,255, 0);
  margin: 93px;
  transition-timing-function: ease-out;
}

#res-link:hover ~#graphic #outer {
  width: 125px;
  border-top: 4px solid rgba(255, 255, 255, 1);
  border-left: 0px solid rgba(255, 255, 255, 0);
  border-right: 0px solid rgba(255, 255, 255, 0);
  border-bottom: 4px solid rgba(255, 255, 255, 1);
  transform: rotate(90deg);
  transition-timing-function: ease-out;
  background-color: rgba(255, 255, 255, 0.15);
}

#res-link:hover ~#graphic #outer #top {
  width: 125px;
  border-top: 4px solid rgba(255, 255, 255, 1);
  border-left: 0px solid rgba(255, 255, 255, 0);
  border-right: 0px solid rgba(255, 255, 255, 0);
  border-bottom: 4px solid rgba(255, 255, 255, 1);
  transform: rotate(60deg);
  transition-timing-function: ease-out;
}

#res-link:hover ~#graphic #outer #bottom {
  width: 125px;
  border-top: 4px solid rgba(255, 255, 255, 1);
  border-left: 0px solid rgba(255, 255, 255, 0);
  border-right: 0px solid rgba(255, 255, 255, 0);
  border-bottom: 4px solid rgba(255, 255, 255, 1);
  transform: rotate(120deg);
  transition-timing-function: ease-out;
}
